@media screen and (max-width:768px) {
    body {
        .s9_game_md {
            display: block;
            width: 100vw;
            height: 879px;
            background: #070C1A;
            position: relative;
            .s9_game_main_md {
                width: 100%;
                height: 100%;
                position: relative;
                padding-top: 90px;
                .s9_game_textbox_md {
                    width: 80vw;
                    height: 270px;
                    text-align: left;
                    margin: auto auto;
                }
                .s9_game_imgbox_md {
                    width: 357px;
                    height: 470px;
                    margin: auto;
                    .s9_game_photo_img_md {
                        width: 357px;
                        height: 470px;
                        @include response-image-md('../images/s9-game-img', ".jpg");
                        background-size: 100% 100%;
                    }
                }
            }
        }
        .s9_game {
            display: none;
        }
    }
}