@media screen and (max-width:768px) {
    body {
        .s9_mix {
            width: 100vw;
            height: 124.5vw;
            background: #000000;
            position: relative;

            .s9_mix_main {
                width: 67vw;
                height: 124.5vw;
                top: 40%;
                left: 50%;
                position: absolute;
                transform: translate(-50%, -50%);
                padding-top: 0px;
                margin: auto;
                text-align: center;

                .s9_mix_imgbox {
                    width: 66.66vw;
                    height: 81.6vw;
                    float: left;

                    .s9_mix_phone {
                        width: 66.66vw;
                        height: 81.6vw;
                        @include response-image-md('../images/s9-mix-phone',".jpg");
                        background-size: 100% 100%;
                    }
                }

                .s9_mix_textbox {
                    width: 67vw;
                    height: 17vw;
                    margin-top: 40px;
                    float: left;
                    .mid_title_white {
                        margin: 0 auto;
                        font-size: 18px;
                        line-height: 24px;
                    }
                    .mid_content_white {
                        margin: 5px auto;
                        font-size: 12px;
                        line-height: 16px;
                    }
                }
            }
        }
    }
}
