// 手机滑落
@import './s9_look.scss';
// 3个细节
@import './s9_show.scss';
// 手感
@import './s9_feel.scss';
// color
@import './s9_color.scss';
// camrea
@import './s9_camera.scss';
// isocell
@import './s9_isocell.scss';
// softlight
@import './s9_softlight.scss';
// shadow
@import './s9_shadow.scss';
// 超广角
@import './s9_wide.scss';
// 个性
@import './s9_fashion.scss';
// yeah
@import './s9_yeah.scss';
// bigworld
@import './s9_bigworld.scss';
// night
@import './s9_night.scss';
// vlog
@import './s9_vlog.scss';
// 哟
@import './s9_yo.scss';
// 6nm超强芯片
@import './s9_sixnm.scss';
// 竞技
@import './s9_game.scss';
// 超大运存
@import './s9_memory.scss';
// 哇
@import './s9_wa.scss';
// TUV
@import './s9_tuv.scss';
// os
@import './s9_os.scss';
// mix
@import './s9_mix.scss';
// 壁纸
@import './s9_wallpaper.scss';
// other
@import './s9_other.scss';

// tips字体
.describe {
    font-family: $lg_content_font_family;
}

.describe_content {
    font-family: $lg_content_font_family;
}
.show{
    transform: translateY(0vh) !important;
}
.all_video_box{
            width: 100vw;
            height:100vh;
            position: fixed;
            top: 0;
            left: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            transform: translateY(100vh);
            transition:transform 0s linear;
            will-change: transform;
            z-index: 10000;

            .all_video_mask {
                width: 100vw;
                height:100vh;
                background-color: black;
                opacity: 0.9;
            }

            .all_videobox {
                width: 960px;
                height: 540px;
                position: absolute;   
                top: 50%;
                transform: translateY(-50%);

                video {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                    z-index: 200;
                }
            }
            .close {
                background-image: url("../../images/close.svg");
                background-size: 100% 100%;
                position: absolute;
                bottom: -13vh;
                left: 50%;
                margin-left: -14px;
                width: 50px;
                height: 50px;
                z-index: 999;
            }
        }

// 白色底,黑灰字
.subtitle {
    font-size: $lg_subtitle_size;
    line-height: $lg_subtitle_line_height;
    color: $lg_subtitle_color;
    font-family: $lg_subtitle_font_family;
    font-weight: 800;
}

.title {
    font-size: $lg_title_size;
    line-height: $lg_title_height;
    color: $lg_title_color;
    margin-top: $lg_title_margin_top;
    font-family: $lg_title_font_family;
    font-weight: 800;
}

.content {
    font-size: $lg_content_size;
    line-height: $lg_content_line_height;
    color: $lg_content_color;
    margin-top: $lg_content_margin_top;
    font-family: $lg_content_font_family;
    font-weight: 55;
}

// 深色底白色字
.subtitle_white {
    font-size: $lg_subtitle_size;
    line-height: $lg_subtitle_line_height;
    color: $lg_content_gary_color;
    font-family: $lg_subtitle_font_family;
    font-weight: 100;
}

.title_white {
    font-size: $lg_title_size;
    line-height: $lg_title_height;
    color: $lg_content_white_color;
    margin-top: $lg_title_margin_top;
    font-family: $lg_title_font_family;
    font-weight: 900;
}

.content_white {
    font-size: $lg_content_size;
    line-height: $lg_content_line_height;
    color: $lg_content_gary_color;
    margin-top: $lg_content_margin_top;
    font-family: $lg_content_font_family;
    font-weight: 55;
}

// other专属
.mid_title_white {
    font-size: $lg_mid_title_size;
    line-height: $lg_mid_title_height;
    color: $lg_mid_title_color;
    margin-top: $lg_mid_title_margin_top;
    font-family: $lg_mid_title_font_family;
    font-weight: bold;
}

.mid_content_white {
    font-size: $lg_mid_content_size;
    line-height: $lg_mid_content_line_height;
    color: $lg_mid_content_color;
    margin-top: $lg_mid_content_margin_top;
    font-family: $lg_mid_content_font_family;
    font-weight: 55;
}

//tuv专属
.tuv_tips {
    font-size: $lg_tuv_tips_size;
    color: $lg_content_white_color;
    margin-top: $lg_tuv_tips_margin_top;
    font-family: $lg_content_font_family;
    font-weight: 30;
}

// 默认上标
sup {
    font-size: 10px;
}

// 标题上标,字号稍大
.big_sup {
    font-size: 25px;
    margin-left: 4px;
    margin-bottom: 8px;
}

.bottomDivSup {
    top: -0.89em;
}

.buylink {
    font-size: $lg_content_size;
    line-height: $lg_content_line_height;
    color: $lg_content_color;
    margin-top: $lg_content_margin_top;
    font-family: $lg_content_font_family;
    font-weight: 55;
    position: relative;
    z-index: 10;
}

.buylink a::after {
    content: "";
    position: absolute;
    width: $lg_content_line_height/4;
    height: $lg_content_line_height/4;
    border-top: 2px solid $lg_content_color;
    border-right: 2px solid $lg_content_color;
    top: 45%;
    transform: rotate(45deg) translateY(-50%);
}

.buylink_white {
    font-size: $lg_content_size;
    line-height: $lg_content_line_height;
    color: #fff;
    margin-top: $lg_content_margin_top;
    font-family: $lg_content_font_family;
    font-weight: 55;
    position: relative;
    z-index: 10;
}

.buylink_white a::after {
    content: "";
    position: absolute;
    width: $lg_content_line_height/4;
    height: $lg_content_line_height/4;
    border-top: 2px solid #fff;
    border-right: 2px solid #fff;
    top: 45%;
    transform: rotate(45deg) translateY(-50%);
    margin-left: 10px;
}

.buylink a:hover {
    color: #3f5bf9;
}

.buylink a:hover::after {
    border-color: #3f5bf9;
}


.buylink_white a:hover {
    color: #3f5bf9;
}

.buylink_white a:hover::after {
    border-color: #3f5bf9;
}