.s9_mix {
    width: 100vw;
    height: 800px;
    background: #000000;
    position: relative;
    .s9_mix_main {
        width: 1000px;
        height: 800px;
        top: 60%;
        left: 50%;
        position: absolute;
        transform: translate(-50%, -50%);
        margin: auto;
        margin-top: -36px;
        .s9_mix_imgbox {
            width: 558px;
            height: 668px;
            float: left;

            .s9_mix_phone {
                width: 558px;
                height: 726px;
                @include response-image-lg('../images/s9-mix-phone',".jpg");
                background-size: 100% 100%;
            }
        }

        .s9_mix_textbox {
            width: 222px;
            height: 100px;
            margin-top: 195px;
            float: right;
        }
    }
}