.s9_other {
    width: 100vw;
    height: 1200px;
    background: #000000;
    position: relative;

    .s9_other_main {
        width: 1200px;
        height: 100%;
        top: 50%;
        left: 50%;
        position: absolute;
        transform: translate(-50%, -50%);
        margin: 100px auto auto auto;

        .s9_other_box1 {
            width: 600px;
            height: 1020px;
            border-radius: 10px;
            background-color: #1E1F23;
            float: left;

            .s9_other_box1_textbox {
                margin: 60px auto auto 50px;
            }

            .s9_other_phone {
                width: 334px;
                height: 716px;
                margin: 66px auto auto 79px;
                @include response-image-lg('../images/s9-other-phone',".jpg");
                background-size: 100% 100%;
            }
        }

        .s9_other_box2 {
            width: 550px;
            height: 530px;
            border-radius: 10px;
            background-color: #1E1F23;
            float: right;

            .s9_other_box2_textbox {
                margin: 60px auto auto 57px;
            }

            .s9_other_element {
                width: 435px;
                height: 286px;
                margin: 30px auto auto 57px;
                @include response-image-lg('../images/s9-other-element', ".jpg");
                background-repeat: no-repeat;
                background-size: 101% 101%;
                background-position: center center;
            }
        }

        .s9_other_box3 {
            width: 550px;
            height: 440px;
            border-radius: 10px;
            background-color: #1E1F23;
            margin-top: 50px;
            float: right;

            .s9_other_box3_textbox {
                margin: 40px auto auto 57px;
            }

            .s9_other_mole {
                width: 438px;
                height: 207px;
                margin: 27px auto auto 57px;
                @include response-image-lg('../images/s9-other-mole');
                background-size: 100% 100%;
            }
        }
    }
}