@media (min-width: 1921px) {

    .s9_wallpaper {
        width: 100vw;
        height: 1440px;
        background: #000000;
        position: relative;

        .s9_wallpaper_main {
            width: 1600px;
            height: 100%;
            top: 50%;
            left: 50%;
            position: absolute;
            transform: translate(-50%, -50%);
            padding-top: 200px;
            margin: auto;

            .s9_vlog_videobox{
                width: 1600px;
                height: 750px;
                margin: auto;
    
                .s9_wallpaper_video{
                    width: 1600px;
                    height: 750px;
                    margin: 67px auto auto auto;
                }
                video::-webkit-media-controls{
                    display:none !important;
                }
           }

            .s9_wallpaper_imgbox {
                width: 1600px;
                height: 677px;

                .s9_wallpaper_phone1 {
                    width: 360px;
                    height: 833px;
                    margin-top: 71px;
                    @include response-image-xl('../images/s9-wallpaper-phone1');
                    background-size: 100% 100%;
                    position: absolute;
                    z-index: 1;
                }

                .s9_wallpaper_phone2 {
                    width: 374px;
                    height: 868px;
                    margin-top: 36px;
                    left: 264px;
                    @include response-image-xl('../images/s9-wallpaper-phone2');
                    background-size: 100% 100%;
                    position: absolute;
                    z-index: 2;
                }

                .s9_wallpaper_phone3 {
                    width: 496px;
                    height: 904px;
                    left: 540px;
                    @include response-image-xl('../images/s9-wallpaper-phone3');
                    background-size: 100% 100%;
                    position: absolute;
                    z-index: 3;
                }

                .s9_wallpaper_phone4 {
                    width: 387px;
                    height: 868px;
                    margin-top: 36px;
                    left: 938px;
                    @include response-image-xl('../images/s9-wallpaper-phone4');
                    background-size: 100% 100%;
                    position: absolute;
                    z-index: 2;
                }

                .s9_wallpaper_phone5 {
                    width: 373px;
                    height: 833px;
                    margin-top: 71px;
                    left: 1227px;
                    @include response-image-xl('../images/s9-wallpaper-phone5');
                    background-size: 100% 100%;
                    position: absolute;
                    z-index: 1;
                }
            }

            .s9_wallpaper_textbox {
                width: 1600px;
                height: 110px;
                // margin-top: 167px auto auto auto;
                text-align: center;
                .mid_title_white{
                    line-height: 70px;
                }
                .mid_content_white {
                    margin-top: 0px;
                }
            }
        }
    }

}