@media(max-width:1080px) {
    .s9_fashion {
        width: 100vw;
        height: 1230px;
        margin-top: -225px;
        position: relative;
        background-color: #ffffff;
        .s9_fashion_main {
            width: 800px;
            height: 840px;
            top: 50%;
            left: 50%;
            position: absolute;
            transform: translate(-50%, -50%);
            margin: auto;
            .s9_fashion_textbox {
                width: 400px;
                height: 220px;
                float: left;
                padding-left: 0px;
                margin-top: 100px;
                .s9_fashion_imgbox1 {
                    width: 320px;
                    height: 440px;
                    .s9_fashion_photo1_1_img {
                        width: 320px;
                        height: 440px;
                        // margin-top: 84px;
                        @include response-image-lg('../images/s9-fashion-photo1-1', ".jpg");
                        background-size: 100% 100%;
                        position: absolute;
                    }
                    .s9_fashion_photo1_2_img {
                        width: 320px;
                        height: 440px;
                        // margin-top: 84px;
                        @include response-image-lg('../images/s9-fashion-photo1-2', ".jpg");
                        background-size: 100% 100%;
                        position: absolute;
                    }
                    .s9_fashion_photo1_3_img {
                        width: 320px;
                        height: 440px;
                        // margin-top: 84px;
                        @include response-image-lg('../images/s9-fashion-photo1-3', ".jpg");
                        background-size: 100% 100%;
                        position: absolute;
                    }
                }
                .s9_fashion_text1 {
                    float: none;
                    font-size: 14px;
                    line-height: 25px;
                    font-weight: 65;
                    color: #444444;
                    margin-top: 10px;
                }
            }
            .s9_fashion_imgbox2 {
                width: 320px;
                height: 440px;
                float: right;
                .s9_fashion_imgbox2_box {
                    width: 320px;
                    height: 440px;
                }
                .s9_fashion_photo2_img {
                    width: 320px;
                    height: 440px;
                    @include response-image-lg('../images/s9-fashion-photo2', ".jpg");
                    background-size: 100% 100%;
                }
                .s9_fashion_text2 {
                    font-size: 14px;
                    line-height: 25px;
                    font-weight: 65;
                    color: #444444;
                    margin-top: 10px;
                }
            }
        }
    }
    .s9_fashion_md {
        display: none;
    }
}