@media(max-width:1080px) {
    .s9_tuv{
        width: 100vw;
        height: 770px;
        background: #070C1A;
        position: relative;
        .s9_tuv_main{
            width: 751px;
            height: 770px;
            top: 50%;
            left: 50%;
            position:absolute;
            transform: translate(-50%,-50%);
            padding-top: 0px;
            margin: auto;
            .s9_tuv_imgbox{
                width: 292px;
                height: 769px;
                float: left;
                .s9_tuv_phone{
                    width: 292px;
                    height: 769px;
                    @include response-image-pd('../images/s9-tuv-phone');
                    background-size:100% 100%;
                }
           }
            .s9_tuv_textbox{
                width: 360px;
                height: 530px;
                margin-top:72px;
                float: right;
                .content_white{
                    width:343px;
                }
                .s9_tuv_logobox{
                    margin-top:71.67px;
                    .s9_tuv_tuv_logo{
                        width: 54px;
                        height: 54px;
                        @include response-image-pd('../images/s9-tuv-hi-logo');
                        background-size:100% 100%;
                    }
                    .s9_tuv_hi_logo{
                        width: 54px;
                        height: 54px;
                        @include response-image-pd('../images/s9-tuv-tuv-logo');
                        background-size:100% 100%;
                        margin-top:50px;
                    }
                }
            }
           
        }
    }
}